.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-container {
    display: flex;
    flex: 1;

    .content-container {
      flex: 1;
      padding: var(--content-padding);
      background-color: var(--surface-page);
      overflow-y: auto;
    }
  }
}
